<% include ../partials/header %>
<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<!-- BSTORE-BREADCRUMB START -->
						<div class="bstore-breadcrumb">
							<a href="/">Trang chủ</a>
							<span><i class="fa fa-caret-right"></i></span>
							<span>Đăng nhập</span>
						</div>
						<!-- BSTORE-BREADCRUMB END -->
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h2 class="page-title">Đăng nhập</h2>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<!-- CREATE-NEW-ACCOUNT START -->
						<img src="/images/frontend/login.jpg" class="img-fluid " alt="">
						<!-- CREATE-NEW-ACCOUNT END -->
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						<!-- REGISTERED-ACCOUNT START -->
						<div class="primari-box registered-account">
							<form class="new-account-box" id="accountLogin" method="post" action="#">
								<h3 class="box-subheading">Bạn đã có tài khoản?</h3>
								<div class="form-content">
									<div class="form-group primary-form-group">
										<label for="loginemail">Địa chỉ email</label>
										<input type="text" value="" name="email" id="loginemail" class="form-control input-feild">
									</div>
									<div class="form-group primary-form-group">
										<label for="password">Mật khẩu</label>
										<input type="password" value="" name="password" id="password" class="form-control input-feild">
									</div>
									<div class="forget-password">
										<p><a href="#">Quên mật khẩu?</a></p>
									</div>
									<div class="submit-button">
										<a href="my-account.html" id="signinCreate" class="btn main-btn">
										<span>
											<i class="fa fa-lock submit-icon"></i>
											 Đăng nhập
										</span>
										</a>
										<a href="/auth/facebook" id="signinCreate" class="btn main-btn btn-primary" style="color:blue; background:#fff; border-color:blue">
										<span>
											<i class="fa fa-facebook" aria-hidden="true"></i>
											Facebook
										</span>
										</a>
									</div>
								</div>
							</form>							
						</div>
						<!-- REGISTERED-ACCOUNT END -->
					</div>
				</div>
			</div>
			<% include ../partials/footer %>