<!doctype html>
<html lang="en">

<head>
  <% include site/partials/header %>
  <section class="main-content-section">
    
  </section>
  <% include site/partials/footer %>
  
  <script>
    $(".alert").alert();
  </script>
</body>


</html>